* {
    box-sizing: border-box;
}

//Main-grid=wrapper
// .main-grid-wrapper {
//     display: grid;
//     width: 100%;
//     height: auto;
//     grid-template-columns: 50% 50%;
//     grid-template-rows: auto auto auto auto auto;
// }


@import "_reset", "_variables", "_breakpoints", "_header", "_gallery", "_footer";

body {
    font-family: $main-font-family;
    overflow-x: hidden;
}